.mypage{
  margin:0 auto;
  padding: 0px;
  overflow-y: hidden;

  &__profile {
    margin:0 auto;
    width: 780px;
    height: 1000px;
    padding: 0 40px 40px 40px;
    display: block;
    border-style: solid;
    border-width: 0;
    margin-top:45px;
    
  
    .main__profile {
      width: 600px;
      height: 840px;
      background-color: #fff;
      padding:15px 25px;
      position: relative;
      &--form{
        text-align: center;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-color:#fff;

      .main__profile--header{
        font-size: 24px;
        font-weight:bold;
        padding: 10px 24px;
        border: solid 1px;
        border-color:#C0C0C0;
      }
        }
         &--detail{
           margin:0px;
         }
         &__name{
           height: 25px;
           padding: 10px 24px;
           text-align: center;
           margin: 2px auto;
           font-size: 24px;
           background-image: white; 
         }
          &--box{
            padding: 10px 24px;
            height: 120px; 
         }
            &--img{
             text-align: center;
             width: 100%;
            }
         &__name--nickname{
           padding: 10px 24px;
           height: 20px;
           width: 120px;
           margin:0 auto;
           margin-bottom: 15px;
           text-align: center;
           font-size: 24px;
           border-bottom:double;
           border-color:#C0C0C0;
           
           }
          &__name--message{
            margin-top:2px;
            padding: 10px 24px;
            height: 400px;
            border: solid 1px;
            border-color:#C0C0C0;
             
          }
          .main__form-edit{
            margin-top:45px;
            border: solid 1px;
            height: 25px;
            padding: 15px 24px 15px;
            text-align: center;
            border-color:#C0C0C0;
            font-size:20px;
            color:white;
            background-color:#FF1D1A; 
            
          }
          
    
  }}
//#user_introduction{
//  display: block;
//  margin: 0 auto;
//  max-width: 100%;
//  min-height: 104px;
//  padding: 10px;
//  border: 1px solid #ccc;
//  background: #fff;
//  font-size: 16px;
//  line-height: 1.5;
//  width: 95%;
//  margin-top: 10px;
//  height: 200px;
//}
//.profile-edit__btn{
//  //background:$Red;
//  height: 48px;
//  line-height: 48px;
//  display: block;
//  margin: 16px 0 0;
//  color: White;
//  text-align: center;
//  font-weight: 600;
//  font-size: 20px;
//}
//a{
//  text-decoration: none;
//  color: white;
//    }
//  
//}
//.side-content{
//  .mypage-nav{
//    margin-top: 40px;
//    margin-left: 80px;
//  }
//}
//.bottom {
//  width: 100vw;
//  background-color: brown;
//  .image-bottom {
//    width: 750px;
//    display: flex;
//    justify-content: space-between;
//    margin: 0px auto;
//    &__left {
//      &--top-text {
//        //color: $header-icon;
//        font-size: 24px;
//        font-weight: 600;
//        margin: 30px 0px 15px 0px;
//      }
//      &--bottom-text {
//        //color: $header-icon;
//        font-size: 35px;
//        margin-bottom: 20px;
//      }
//      &--link {
//        display: flex;
//        .link__mercari {
//          height: 68px;
//          margin-right: 20px;
//          width: 68px;
//        }
//        .link__apple #appstore {
//          height: 40px;
//          width: 144px;
//          &:hover {
//            opacity: 0.8;
//          }
//        }
//        .link__google #googleplay {
//          height: 40px;
//          width: 130px;
//          &:hover {
//            opacity: 0.8;
//          }
//        }
//      }
//    }
//    &__right {
//      height: 260px;
//      width: 300px;
//    }
//  }
}
//@import "color"
