@mixin pulldawn_siza{
  display: none;
  background-color:#fff;
  width: 224px;
  height:100%;
  box-sizing: border-box;
}
@mixin parent_grandchild{
  cursor: pointer;
  text-align: left;
  font-size:16px;
  padding:3px 0 3px 5px;
  line-height:24px;
  background-color:#fff;
}


.body{
  margin: 0px;
  padding:0px;

  .header__top{
    background: #f8f8f8;
    padding: 0 60px;
    font-family:  Helvetica, Arial ;
    height: 100px;
     
    
    &__inner{
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0 0;
      
      
      &__main{
        display: flex;
        align-items: center;
    
        &__simbol{
          align-items: center;
          margin-right: 30px;
          border-radius: 4px;
       
      }
     }
    .search__box{
      width: 820px;
      height: 34px;
      display: flex;
      margin-left: auto;
      width: 200%;
      .form{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
      }
        .input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }

       .search__box__input{ 
         width: 820px;
         height: 34px;
         padding: 0 0 0 10px;
         }
        
         
      .button_to {
          position: relative;
          width: 30px;
          height: 30px;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 4px;  
       }

       .search__box__icon{
         position: absolute;
         top:10px;
         left:9px;
         border: 2px;
         }
  
    .result__lists{
      display: flex;
      position: absolute;
      right: 0;
      top: 36px;
      border:2px;
      z-index: 10;
     }
    }
 .lists{
   font-size: 13px;
   display: flex;
   justify-content : space-between;
   margin: 10px auto;
    &__left{
      position: relative;
      display: flex;
      padding-top:10px;
      
          
     .categories{
       position: absolute;
       z-index: 10;
       a{
         color: #333;
         font-size: 13px;
         &:hover{
           color:orange;
        }
      }
      
      .category__parent{
        display: none;
        height: 500px;
        width: 200px;
        padding:10px 0 0 5px;
        margin-top:10px;
        box-sizing: border-box;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        
        li.parent__list{
          font-size:11px;
          line-height:30px;
          list-style: none;
          text-align: left;
          cursor: pointer;
          background-color: #f8f8f8;
          color: #333;
            &:hover {
              background-color: #3CCACE;  
            }
          }

      
      .category__child{
        display: none;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        display: none;
        left: 200px;
        position: absolute;
        top: 20px;
        width: 200px;
        padding:10px 0 0 5px;

        li.child__list{
          font-size:11px;
          line-height:30px;
          list-style: none;
          text-align: left;
          cursor: pointer;
          background-color: #f8f8f8;
          color: #333;
          &:hover {
            background-color: #3CCACE;  
          }
        }
        
      
      
      .category__grandchild{
        display: none;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        left: 200px;
        position: absolute;
        top: 0px;
        width: 200px;
        padding:10px 0 0 5px;
        
        li.grandchild__list{
          font-size:11px;
          line-height:30px;
          list-style: none;
          text-align: left;
          cursor: pointer;
          background-color: #f8f8f8;
          color: #333;
          background-color: #f8f8f8;
          color: #333;
          &:hover {
            background-color: #3CCACE;  
          }
        }
        
        
          }
        }
      }
    }
   }
   }
  }
     }
      .lists__left__item--bland{ 
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-left: 80px;
          a{
            color: #333;
            font-size: 13px;
            &:hover{
              color:orange;
           }
          }
           //.brands__pulldown{
           //  position: absolute;
           //  z-index: 1;
           //  background-color: #fff;
           //  text-decoration : none;
      } 
        
  }
  
      
    


      .lists__right{
        margin-left: auto;
        display: flex;
        
        &__item--login{
          display: flex;
          align-items: center;
          margin-right: 20px;
          a{
            color: #333;
          }
        }
        &__item--new{
          display: flex;
          align-items: center;
          
          text-decoration: none;
          line-height: 32px;
          a{
            color: #333;
          }
         }
        }

    