.body{
  margin: 0px;
  padding:0px;

  .header__top{
    background: #f8f8f8;
    padding: 0 60px;
    font-family:  Helvetica, Arial ;
    height: 100px;
     
    
    &__inner{
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0 0;
      
      
      &__main{
        display: flex;
        align-items: center;
    
        &__simbol{
          align-items: center;
          margin-right: 30px;
          border-radius: 4px;
       
      }
     }
    .search__box{
      width: 820px;
      height: 34px;
      display: flex;
      margin-left: auto;
      width: 200%;
      .form{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
      }
        .input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }

       .search__box__input{ 
         width: 820px;
         height: 34px;
         padding: 0 0 0 10px;
         }
        
         
      .button_to {
          position: relative;
          width: 30px;
          height: 30px;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 4px;  
       }

       .search__box__icon{
         position: absolute;
         top:10px;
         left:9px;
         border: 2px;
         }
  
    .result__lists{
      display: flex;
      position: absolute;
      right: 0;
      top: 36px;
      border:2px;
      z-index: 10;
     }
    }
 .lists{
   font-size: 13px;
   display: flex;
   justify-content : space-between;
   margin: 10px auto;
  
    &__left{
      position: relative;
      display: flex;
      //.category__icon,.brands__icon{
      // // color: $mainblueColor;
      //}
      // カテゴリーの大枠の要素の共通項
      .category__child, .category__parent, .category__grandchild{
        display: none;
      }
      .category__list{
        position: absolute;
        height: 560px;
        background-color: white;
       // border-right: 1px solid $whitesmoke;
      }
      
      // 子要素はカテゴリー名の共通項
        
      
      .categories{
        a{
          color: #333;
          font-size: 13px;
          &:hover{
            color:orange;
          }
         }
        padding: 0;
        list-style: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
        &:hover{
          z-index: 10;
          .category__parent{
            top: 122px;
            display: block;
            &--name{
              width: 100%;
              color: black;
              display: inline-block;
              padding: 10px 20px;
              font-size: 13px;
              letter-spacing: 2px;
              //@include hover__color(white, $skyblue, 1);
            }
            li {
              &:hover{
                .category__child{
                  width: 100%;
                  display: block;
                  top: 0;
                  left: 221px;
                  .category__child--name{
                    width: 100%;
                    color: black;
                    display: inline-block;
                    padding: 3px 15px;
                    font-size: 11px;
                    letter-spacing: 2px;
                    //@include hover__color(black, $lightgray, 1);
                  }
                  li {
                    &:hover{
                      .category__grandchild{
                        width: 300px;
                        display: block;
                        top: 0;
                        left: 220px;
                        .category__grandchild--name{
                          width: 100%;
                          color: black;
                          display: inline-block;
                          padding: 3px 15px;
                          font-size: 11px;
                          letter-spacing: 2px;
                          //@include hover__color(black, $lightgray, 1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .lists__left__item--bland{ 
        list-style: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
          a{
            color: #333;
            font-size: 13px;
            &:hover{
              color:orange;
           }
          }
           .brands__pulldown{
             position: absolute;
             z-index: 1;
             background-color: #fff;
             text-decoration : none;
          }  
      }
    }
       .lists__right{
         margin-left: auto;
         display: flex;
         
         &__item--login{
           display: flex;
           align-items: center;
           margin-right: 20px;
           a{
             color: #333;
           }
         }
         &__item--new{
           display: flex;
           align-items: center;
           
           text-decoration: none;
           line-height: 32px;
           a{
             color: #333;
           }
          }
       }
} 
}
}
}
  //   .tree__display{
    //     z-index: 10;
    //     display: none;
    //     position: absolute;
    //     background-color: #fff;
    //     width: 240px;
    //     top: 35px;
//
    //     .categoryTree{
    //       flex-direction: column;
    //       position: relative;
//
    //      &--item{
    //        a{
    //          color: #333;
    //          font-size: 13px;
    //          &:hover{
    //            color:orange;
    //           }
    //        line-height: 38px;
    //        background-position: center right;
    //        background-repeat: no-repeat;
    //        padding-left: 5px;
    //        
    //      }
    //     }
    //    }
    //  }