.nav{
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
  text-decoration : none;

  .lists__left{
    position: relative;
    display: flex;
    
  }
  .lists__left__item--first{
    text-decoration: none;
    padding: 0;
    list-style: none;
    font-size: 14px;
  }
  .a#catBtn{

  }
  .tree.displayNone{
    z-index: 2;
    position: absolute;
    background-color: #fff;
    width: 240px;
    top: 40px;
  }
  .categoryTree{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .categoryTree--item{
    position: relative;
  }
  .lists__left__item{
    color: #333;
    text-decoration: none;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }
  .a#brandBtn{

  }
  .ul.brandsPulldown.displayNone{
    position: absolute;
    z-index: 1;
    background-color: #fff;
    text-decoration : none;
    }
  
  .lists__right{
    margin-left: auto;
    display: flex;
    
    .lists__right__item.lists__right__item--login{
      display: flex;
      align-items: center;
      color: #333;
      text-decoration: none;
      line-height: 32px;
    }
    .lists__right__item.lists__right__item--new{
      display: flex;
      align-items: center;
      color: #333;
      text-decoration: none;
      line-height: 32px;
    }
  }
}