.lists{
  font-size: 12px;
  display: flex;
  margin-bottom: 10px;
  justify-content : space-between;
  
  
    .lists__left{
      position: relative;
      display: flex;
    
      .lists__left__item--category{
        padding: 0;
        //display:none;
        list-style: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
        a{
          color: #333;
          font-size: 12px;
          &:hover{
            color:orange;
           }
         }
       }
   }  
       .tree.display__none{
         z-index: 2;
         position: absolute;
         background-color: #fff;
         width: 240px;
         top: 35px;

         .categoryTree{
           //background-color: #fff;
           //display: flex;
           flex-direction: column;
           position: relative;

          .categoryTree--item{
           // text-decoration: none;
            line-height: 38px;
            background-position: center right;
            background-repeat: no-repeat;
            //background-size: 20px;
            //padding-right: 30px;
            padding-left: 5px;
            a{
              color: #333;
              font-size: 12px;
              &:hover{
                color:orange;
               }
          }
         }
        }
      }

      .lists__left__item--bland{
        list-style: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
          a{
            color: #333;
            font-size: 12px;
            &:hover{
              color:orange;
           }
          }
           .brands__pulldown.display_none{
             position: absolute;
             z-index: 1;
             background-color: #fff;
             text-decoration : none;
          }  
      }

  .lists__right{
    margin-left: auto;
    display: flex;
    
    .lists__right__item--login{
      display: flex;
      align-items: center;
      margin-right: 20px;
      a{
        color: #333;
      }
    }
    .lists__right__item--new{
      display: flex;
      align-items: center;
      
      text-decoration: none;
      line-height: 32px;
      a{
        color: #333;
      }
     }
  }
} 

