
  .main__top{
    position: relative;
    background-size: cover;
    background-position: center center;
  
    &__content{
      position: absolute;
      left:180px;
      top:100px;
    
      &--title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.5;
        color: #fff;
      }
    }
      &__content--subtitle{
         text-shadow: 0 0 5px rgba(0,0,0,0.4);
         font-size: 18px;
         color: #fff;
         line-height: 1.9;
         margin: 15px 0 20px 0;
        }
    
      &__content--btn{
        display: flex;
        margin-top: 30px;
         a{
           margin-right: 15px;
           opacity: 1;
           &:hover{
            opacity:0.5;
          }
         }
      }
 }    
      
  