.picture{
  top: 0;
  right: 210px;
  
.top__introduction{
    padding: 60px 20px;
  
  .top__introduction--subtitle{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
}
  .subtitle__after {
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .pic__lists{
    display: flex;
    
    .pic__list__left{
      text-align: left;
      flex-direction: column;
      align-items: center; 
      margin: 16px 5% 0 10%;   
    .pic__list__left__pict{
      position: relative;
      margin-bottom: 20px;
    
      .number1{   
        position: absolute;
         height: 65px;
         width: 65px;
         font-size: 30px;
         text-align: center;
         top:0;
         left:0;
         padding: 10px 20px;
        background-color: #3CCACE;
      }
    }
      .pic__list__left__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
       .pic__list__left__description{
         font-size: 18px;
         line-height: 1.5;
         margin: 16px 0 0;
    } }
  }
  .pic__list__center{
      text-align: left;
      flex-direction: column;
      align-items: center;
      margin: 16px 5% 0 0;
    .pic__list__center__pict{
      position: relative;
      margin-bottom: 20px;
       .number2{
         position: absolute;
         height: 65px;
         width: 65px;
         font-size: 30px;
         text-align: center;
         top:0;
         left:0;
         padding: 10px 20px;
         background-color: #3CCACE;
         color: #fff;
         }
    }
      .pic__list__center__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
      .pic__list__center__description{
        font-size: 18px;
       margin: 16px 0 0;
      }
    }  
  }
  .pic__list__right{
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin: 16px 20% 0 0;
    .pic__list__right__pict{
      position: relative;
      margin-bottom: 20px;
      .number3{
        height: 65px;
         width: 65px;
        position: absolute;
        text-align: center;
        top:0;
        left:0;
        background-color: #3CCACE;
        color: #fff;
        font-size: 30px;
       }
      }
     .pic__list__right__text{
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
      margin: 0 0 0 2px;
     .pic__list__right__description{
      font-size: 18px;
      margin: 16px 0 0;
      }
     }
   }
  }
}

  



