
          .product__lists{
            //width: 880px; 
            //position: absolute;
            left: 50%;
            margin-top: 30px;
            margin-right: -50%;
            //transform: translate(-50%, -50%);
            //display: flex;
          
          .product__list{
            width: 220px;
            margin-bottom: 10px;
            //display: inline-block;
          .product__list--img{
            //position: relative;
            //z-index: auto;
            height: 150px;
            //object-fit: cover;  
          .product__list--body{
            bottom: opx;
            right:opx;
            //position: absolute;
            background-color: white;
            color: #333;
            padding:16px; 
          .name{  
            margin-top: 10px;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          

          .details{
            font-size: 16px;
          
            //p{
            //  font-size: 10px;
            //  text-align: left;}
            // }
           }
         }  
       }
      } 
      
     
         
        //.productList
        //.productList--img
        //.productList--body
        //.name
        //.details
        //.fa.fa-star.likeIcon
      //
        //.productList
        //.productList--img
        //.productList--body
        //.name
        //.details
        //.fa.fa-star.likeIcon
      //
        //.productList
        //.productList--img
        //.productList--body
        //.name
        //.details
        //.fa.fa-star.likeIcon

    }}