
      .pickup__container{
        padding: 45px 0 0;
        background-color: #f8f8f8;
        height: 380px;
                
        .head{
          text-align: center;
          font-size: 28px;
          line-height: 1.4;
          font-weight: bold;
        }
        .product__box{
          margin: 0,auto;
          padding: 0;
          
        }
          .product__head{
            position: relative;
          }
          .title{
            text-align: center;
            font-size: 24px;
            color:#3CCACE;
            font-weight: bold;
            
          }
          a{
            text-decoration: none;
           }
        }
         .product__lists{
            width: 1000px; 
            height: 350px;
            margin:30px auto;
            padding-left:35px;
        
      
           &__list{
              width: 220px;
              margin:0 25px 10px 0;
              display: inline-block;
    
              &{
                opacity: 1;
                
               &:hover{
                opacity:0.5;
                 }
              }
           
       
            &--img{
               height: 150px;
               margin-left: 0px;  
              }
            &--body{
               text-align: left;
               background-color: white;
               color:black;
               padding:16px;
               display: block;
               height: 60px;
             
               .name{  
                 line-height: 1.6;
                 font-size: 16px;
               }
               .details{
                 font-size: 16px;
                 color:black;
                 ul{
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   li{
                     i{
                      margin-top:10px;
                       margin-right: 2px;
                     }
                   } 
                 }
          
            p{
              margin-top:2px;
              margin-left:25px;
              font-size: 5px;
              text-align: left;
            }
          } 
        }
      }
    }
   a{
    text-decoration: none; 
   }
   
   
   
    
    

 