// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  .bread__crumbs{
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    padding: 0 60px;
    height: 55px;
  
    ul{
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 10px;
      margin: 0 auto;
      display:inline;
      color: #333;
      inline:block;
       li{
          padding: 0 10px 0 0;
          float: left;
          text-decoration: none;
          color: #333;
          display:inline;
          i{
            content: "\f105";
          }
       } 
     }
  }

.main {
    background: #f8f8f8;
}
.main__content{
  padding: 40px;
  margin: 0 auto;
  
  .main__content__left__pic{ 
    width: 700px;
    margin: 0 auto;
  
    .main__content__right{
      width: 700px;
      margin: 0 auto;
    
      .main__content__top{
        margin: 0;
        padding: 0;
      
        .main__content__itembox{
          background-color: #fff;
          padding: 24px 40px 40px;
        }}}}}
       
       .main__content__itembox__name{
         text-align: center;
         font-weight: bold;
         font-size: 24px;
       }

       .main__content__itembox__body{
         margin: 16px 0 0;

         ul{
           display: flex;
           position: relative;
         
         li{
           display: flex;
           flex-direction: column;
           width: 560px;
           align-items: center;
           margin: 0 auto;
         }
        }
 
      }
.main__content__itembox__price{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;

}
.main__content__itembox__price-detail{
  padding: 40px;
  margin: 0 auto;
}
.item__detail{

}
.table{

}
.optional__area{

}
.optional__like__btn{

}
.optional{

}
.optional__btn{

}
.comment__box{

}
.comment__box__contents{

}
.comment__box__new{

}
.comment__box__body{

}
.notice__message{

}
.comment__btn{

}

.links{
  
}


.related__items{

}
.product__lists{
  margin: 0 0 10px;
  float: left;
  width: calc(100% / 3);
}
.product__lists__list{
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;

}
.product__lists__list--img{

}
.product__lists__list--body{

}
.name{

}
.details{
  li{
    i{

    }
  }

}