.bottom
  .image-bottom
    .image-bottom__left
      .image-bottom__left--top-text
        スマホでかんたんフリマアプリ
      .image-bottom__left--bottom-text
        今すぐ無料ダウンロード！
      .image-bottom__left--link
        .link__mercari
          = link_to image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg",width:'140',height:'40'
        .link__apple
          = link_to image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
        .link__google
          = link_to image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"

    .image-bottom__right
    