%footer.single-footer__a
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "フリマ 利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
      .header__simbol__bottom
    =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", width:'100',height:'40'
  %p
    %small 
      © FURIMA, Inc. 
