.header
  .header__simbol
    =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", width:'150',height:'75'
.main
  .new__main
    .new__main__content
      .new__main__content__brock
        .new__main__content__brock__top
          写真（最大8枚まで掲載可能です）
          .head__icon
            必須  
        .new__main__content__brock__area
          ドラッグ＆ドロップで写真をアップロード
          .photo__space 
            .photo__space__photo--1
            .photo__space__photo--2
            .photo__space__photo--3 
            .photo__space__photo--4
        .itemName   
          .itemName--top        
            %h2 商品名
            .head__icon
              必須       
          .itemName__form  
        .detail   
          .detail--top         
            %h2 商品詳細 
            .head__icon
              必須       
          %form.detail__form 
        .category    
          .category--top
            %h2 カテゴリー
            .head__icon
              必須  
          %form.category__form 
        .brand  
          .brand--top       
            %h2 ブランド  
          .brand__form 
        .condition   
          .condition--top 
            %h2 コンディション
            .head__icon
              必須  
          %form.condition__form 
        .shipping
          .shipping--top     
            %h2 発送料の負担 
            .head__icon
              必須  
          .shipping__form 
        .area  
          .area--top      
            %h2 発送元地域
            .head__icon
              必須
          .area__form 
        .arrivalDay    
          .arrivalDay--top
            %h2発送日の目安
            .head__icon
              必須
          .arrivalDay__form
        .price
          .price--top
            %h2 価格
            .head__icon
              必須
          .price__form  
          %hr
        .purchase
          .purchase__button
            .purchase__button__form
              出品する
        %p
          禁止されている行為および出品物を必ずご確認ください。
          %br
          偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。
          %br
          また、出品をもちまして加盟店規約に同意したことになります。
    %footer.single-footer__a
      %nav
        %ul.clearfix
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "フリマ 利用規約", "#"
          %li
            = link_to "特定商取引に関する表記", "#"
          .header__simbol__bottom
        =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", width:'100',height:'40'
      %p
        %small 
          © FURIMA, Inc. 
                         
//=render "purchase";
//=render "footer"; 