.header
  .header__simbol
    =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", width:'150',height:'75'
.main
  .new__main
    .new__main__content
      .new__main__content__brock
        .new__main__content__brock__top
          //.new__itembox--photo 写真（4枚まで掲載可能です）
          .new__itembox--photo--1
          .new__itembox--photo--2
          .new__itembox--photo--3 
          .new__itembox--photo--4
        .new__itembox--itemName        
          %h2 商品名
          .new__itembox--itemName--form     
        .new__itembox--detail         
          %h2 商品詳細      
          .new__itembox--detail--form     
        .new__itembox--category
          カテゴリー
          .new__itembox--category--form   
        .new__itembox--brand       
          ブランド  
          .new__itembox--brand--form    
        .new__itembox--condition 
          コンディション
          .new__itembox--condition--form 
        .new__itembox--shipping       
          発送料の負担   
          .new__itembox--shipping--form 
        .new__itembox--area      
          発送元地域
          .new__itembox--area--form     
        .new__itembox--arrivalDay
          発送日の目安
          .new__itembox--arrivalDay--form
        .price
    //.img-head_icon 
=render  "footer";                           
=render partial: "purchase";
                 
