.header
  .header__simbol
    =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", width:'150',height:'75'
.main
  .new__main
    .new__main__content
      .new__main__content__brock
        .new__main__content__brock__top
          写真（最大8枚まで掲載可能です）
          .img-head_icon
            必須  
        .new__main__content__brock__area
          .new__itembox--photo__space 
            .new__itembox--photo--1
            .new__itembox--photo--2
            .new__itembox--photo--3 
            .new__itembox--photo--4
        .new__itembox--itemName        
          %h2 商品名
          .img-head_icon
            %span 必須       
        .itemName--form     
        .new__itembox--detail         
          %h2 商品詳細 
          .img-head_icon
            %span 必須       
        %form.detail--form     
        .new__itembox--category
          %h2 カテゴリー
          .img-head_icon
            %span 必須  
        %form.category--form   
        .new__itembox--brand       
          %h2 ブランド  
          .brand--form    
        .new__itembox--condition 
          %h2 コンディション
          .img-head_icon
            %span 必須  
        %form.condition--form 
        .new__itembox--shipping       
          %h2 発送料の負担 
          .img-head_icon
            %span 必須  
        .shipping--form 
        .new__itembox--area      
          %h2 発送元地域
          .img-head_icon
            %span 必須
        .area--form     
        .new__itembox--arrivalDay
          %h2発送日の目安
          .img-head_icon
            %span 必須
        .arrivalDay--form
        .price
          %h2 価格　
          .img-head_icon
            %span 必須
        .price--form                               
=render "purchase";
=render "footer"; 