@mixin buy__content{
  padding: 30px 16px;
  height:100px;
  border-top: 1px solid  #dedede;
  color: #333;
  h3{
    font-size: 16px;
    text-align: left;
    font-weight: 600;
  }
}




.body{
  display: block;
  overflow-x: hidden;
  width:100%;
  
  .buy__main {
    margin: 0px;
    padding: 0px;

//つなぎ事項 //=form_tag(action: :purchase, method: :post) do
   &__item--container {
    overflow-block:hidden;
     margin: 25px auto;
     width: 500px;
     height:850px;
     background-color: #fff;
// 購入内容の確認
      .buy__main__item--head {
        height:35px;
        padding: 30px 16px;
        display: box;
        font-size: 22px;
        line-height: 2;
        text-align: center;
        font-weight: 600;
      }

     .buy__main__item__content{
        text-align: center;
        height: 120px;
        border-top: 1px solid  #dedede;
      &-inner{

        .buy__item {
          height:100px;
          display: block;
          padding: 30px 14.5%;
          margin:0px;
          text-align: right;
       
         &-box{
          
           &-image{
             float: left;
             width: 95px;
             height: 95px;   
          }
          }
        }
      }
           .buy__item-detail{
             font-size: 15px;
//紐付け事項//=@product.name           
            .buy__item-price{
              margin-top:50px;
              font-size: 20px;
              line-height: 1.5;
              font-weight: 600;
//紐付け事項//= number_to_currency(@product.price,format: "%u%n",unit:"¥",precision: 0)
//(税込)送料込み
              .item-shipping-fee{
                display:block;
                top:80px;
                left:100px;
                font-size: 12px;
                color: #333;
                font-weight:normal;
              }
            }
          }
        }
      }
    }
  
  .buy__content.buy-user-info {
    padding: 24px 12.5% 24px 12.5% ;
    .buy__content-inner{
      @include buy__content;

    }
      .buy__price-table{
        //display: table;
        //border-collapse: collapse;
        //width: 100%;
  
      }
        .buy__price-row.buy-you-pay{
          //display: table-row;
          //border-top: 1px solid #ccc;
        }//
 //支払い金額
        .buy__price-cell {
          display: table-cell;
          text-align: left;
          font-size: 16px;
          font-weight: 600;
          color: #333;
        }
      }
         .buy__price-yen{
           float:right;
           font-size: 28px;
           font-weight: 600;
//紐付け事項 //= number_to_currency(@product.price,format: "%u%n",unit:"¥",precision: 0)
        }

  .buy__content.buy-user-info{
    padding: 24px 12.5% 12px 12.5% ;
     
//支払方法
.buy__content-inner{
  @include buy__content;
}
}
    .payment__content__creditcards__list{
      float: left;
      margin:15px 0 0 15px;
      width: 180px;
      height: 100px;
      font-size: 12px;
      color: #333;
      font-weight:normal;
      figure{
        
      }
    
      &-number{
      
//紐付け事項//= "**** **** **** " + @creditcard_information.last4

       &-information{

//// xp_month = @creditcard_information.exp_month.to_s
////- exp_year = @creditcard_information.exp_year.to_s.slice(2,3)
////= exp_month + " / " + exp_year
        }
      }
    }

   .buy-content.buy-user-info {
     margin: 0;
     font-size: 13px;
     font-weight: 600;
    }
//配送先
  .buy-content-inner{
    @include buy__content;
         
    .buy-user-info-text {
      margin:10px 0 0 10px;
      height:   120px;
      font-size: 15px;
      color: #333;
      font-weight:normal;
      line-height: 1.5;

      
    }
  
  .buy-content.buy-user-info{
    border-top: 3px solid #dedede;
  
  }
//購入するボタン
    .purchase{
      width: 50%;
      background: #3CCACE;
      cursor: hand;
      height: 48px;
      display: block;
      margin: 30px auto;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      border: #ffffff;
    }
    }
  } 


