@mixin icon{
  background: #3ccace;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  
}
@mixin form{
  font-size: 14px;
  margin-bottom: 2px;
  display: flex;
}
@mixin squere_color{
  width: 60px;
  height: 60px;
  border-collapse: collapse;
  border: 1px solid #dedede;
  background-color: grey;
}
@mixin two_color{
  border: 1px solid #dedede; 

}
@mixin margin{
  margin: 10px 35px 15px 80px; 
}



.header{
  background: #dedede;
  width:100%;
  height: 80px;
  box-sizing: border-box;
  overflow-x: hidden;
    .header__simbol{
      width:100%;
      text-align : center;
      margin-top: 20px;
    }
}

.main {
  margin:20px auto;

  .new__main{
    padding: 15 45px;
    margin: 0 auto;

  
    &__content{ 
      width: 500px;
      min-height:100%;
      background-color: #fff;
      margin: 0 auto;      
      padding:25px 45px;

      &__brock{
        width: 500px;
        

        &__area{
          width:470px;
          height:140px;
          background-color:grey;
          border: 2px double #dedede;
          margin:25px auto ;
          text-align: center;
          position:relative;
          
          .dropbox__img{
            position:relative;
            width:470px;
            height:140px;

            p{
              margin-top:63px;
              color:white;
              text-align:center;
              font-size:17px;
            }
            &{
              color:white;
            }
              //  .js-file{
                //  display:none;
                //  top:100px;
                //  width: 450px;
                //  height: 60px;
              //  }
          }
        }
      }
    }
         .itemName{
          text-align: left;
          margin:25px 0 0 0;
           &--top{
            @include form;
             .head__icon{
               @include icon;
             }
           }
           .products-name__text__field {
            width:350px; 
            height: 30px; 
            margin:0 auto;
            @include margin;
            
          }
        } 
        
        .detail{
          text-align: left;
          margin-bottom:10px;
          &--top{
            left:20px;
            @include form;
            .head__icon{
              @include icon;
            }
          }
          .sell--content__text__area{
            width:350px; 
            margin:0 auto;
            @include margin;
          }
          
        }

        .category{
          text-align: left;
          margin-bottom:10px;
          &--top{
            @include form;
            .head__icon{
              @include icon;
            }
          }
        }
          .category__child{
            width:350px;  
            height: 30px; 
            margin: 5px 35px 0px 80px; 
          }
        
          .category__child--form{
            width:350px; 
            height: 30px; 
            margin:5px 0px 5px 0px;
          }
          .category__grandchild-form{
            width:350px; 
            height: 30px; 
            margin:15px 35px 5px 80px;
          }
        
        .brand {
          text-align: left;
          margin-bottom:10px;
          .brand--top{
            @include form;
            .head__icon{
              background: #CCCCCC;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              display: inline-block;;
            }
          }
          .select--wrap__default{
            width:350px; 
            height: 30px; 
            @include margin;
           }
          
        }
        .condition{
          text-align: left;
          margin-bottom:10px;
          &--top{
            @include form;
            .head__icon{
              @include icon;
            }
          }
          .select--wrap__default{
            width:350px; 
            height: 30px; 
            @include margin;
          }

        }

        .shipping{
          text-align: left;
          margin-bottom:10px;
          &--top{
            @include form;
            .head__icon{
              @include icon;
            }
          }
          .select--wrap__default{
            width:350px; 
            height: 30px; 
            @include margin;
          }
        }

        .area{
          text-align: left;
          margin-bottom:10px;
          .area--top{
            @include form;
            .head__icon{
              @include icon;
            }
          }
          .select--wrap__default{
            width:350px; 
            height: 30px; 
            @include margin;
        }
      }
        .arrivalDay{
          text-align: left;
          margin-bottom:10px;
          &--top{
            @include form;
            .head__icon{
              @include icon;
            }
          }
          .select--wrap__default{
            width:350px; 
            height: 30px;
            margin:0 auto;
            @include margin;
          } 
          }
        
      
        .price{
          margin:0 auto;
          margin-bottom:10px;
          &--top{
            font-size: 14px;
            margin:10px 0 14px 230px;
            display: flex;
            .head__icon{
              @include icon;
            } 
          }
          .price__yen{
            display: flex;
            font-size: 14px;
            font-weight:bold;
            margin:15px 5px 0px 220px;
            text-align: center;
          .price__form {
            font-size:16px;
            margin: 0px 25px 25px 0px; 
            .input--price__default{
              height: 50px;
            }   
            }
          }
        }
        .two_color{
          border: 1px solid #dedede; 
        }
      .purchase{
        margin:0 auto;
        
          .btn--red{
            background-color:  #3ccace;
            font-size:20px;
            color:white;
            font-weight:bold;
            text-align:center; 
            width:300px;
            height:45px;
            display: inline-block;
            margin:0 auto;
            margin-left:90px;
            border:1px;
          }
        }
         p{
           margin-top:15px;
           font-size:6px;
           text-align: center;
           line-height: 16px;
         } 
 } 
}
  .single-footer__a{
    width: 456px;
    height: 150px;
    margin: 0 auto;
    z-index: 1;
    padding: 30px 0 20px;
    text-align: center;
    
    & li{
      display: inline-block;
      width: 148px;
      font-size: 13px;
    }
    
    .header__simbol__bottom{
      width:100%;
      margin:25px;
      left: 30px;
    }
    p{
      margin: 8px 0 ;
      font-size: 13px;
    }
    
  }

