@mixin icon{
  width: 32px;
  height: 19px;
  text-align: center;
  font-size: 12px;
  margin-left: 8px;
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 3px;
}
@mixin form{
  font-size: 14px;
    margin:10px;
    margin-bottom: 15px;
    display: flex;
    margin-left:40px;
}
@mixin squere_color{
  width: 120px;
  height: 120px;
  border-collapse: collapse;
  border: 1px solid #dedede;
  background-color: #fff;
}
@mixin two_color{
  border: 1px solid #dedede; 
  background-color: #fff;
}



.header{
  background: #f8f8f8;
  width:100%;
  height: 80px;
  box-sizing: border-box;
  overflow-x: hidden;
    .header__simbol{
      width:100%;
      text-align : center;
      margin-bottom:20px;
      margin-top: 20px;
    }
}

.main {
  background: #f8f8f8;
  padding: 20px 0;

  .new__main{
    padding: 5 45px;
    margin: 0 auto;
    height: 1400px;

    &__content{ 
      width: 700px;
      background-color: #fff;
      margin: 0 auto;      
      padding:10px 20px;

      &__brock{
        width: 700px;

        &__top{
          font-size: 14px;
          text-align: left;
          margin:10px;
          display: flex;
          .img-head_icon{
            @include icon;
          }
        }
        
          &__area{
           background-color: #fff;
           padding: 15px 50px ;
           border: 2px double #dedede;
           margin-bottom: 35px;
  
            .new__itembox--photo__space{
              display: flex;
              justify-content:space-between;
              
              .new__itembox--photo--1{
               @include squere_color;
              }
              .new__itembox--photo--2{
               @include squere_color;
              }
              .new__itembox--photo--3{
               @include squere_color;
              }
              .new__itembox--photo--4{
               @include squere_color; 
              }
            }
          
          }
        
    
         

        .new__itembox--itemName{
          @include form;
      
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--itemName--form{
          height: 40px;
          margin: 10px 35px 30px;  
          @include two_color;
        }
          
        
      
        .new__itembox--detail{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--detail--form{
          height: 100px;
          margin: 10px 35px 30px; 
          @include two_color;
        }
        
        .new__itembox--category{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--category--form{
          height: 80px;
          margin: 10px 35px 30px; 
          @include two_color;
        }
      
        .new__itembox--brand{
          font-size: 14px;
          margin:10px;
          margin-bottom: 15px;
          margin-left:40px;
          &--form{
            height: 40px;
            margin: 10px 20px 30px 1px;
            @include two_color;
          }    
        }
        .new__itembox--condition{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--condition--form{
          height: 100px;
          margin: 10px 35px 30px;  
          @include two_color;
          padding: 5 10px;
        } 
        
      
        .new__itembox--shipping{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--shipping--form{
          height: 40px; 
          margin: 10px 35px 30px; 
          @include two_color;
        }
        
        .new__itembox--area{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--area--form{
          height: 40px; 
          margin: 10px 35px 30px; 
          @include two_color;
        } 
        
        .new__itembox--arrivalDay{
          @include form;
          .img-head_icon{
            @include icon;
          }
        }
        .new__itembox--arrivalDay--form{
          height: 40px; 
          margin: 10px 35px 30px; 
          @include two_color;
        }

        .price{
          @include form;
          .img-head_icon{
            @include icon;
          } 
        }
        .price--form{
          height: 55px; 
          margin: 10px 30px 10px 300px; 
          @include two_color;
        }
      }
    }
 }
}        
      